/* THE WHOLE PAGE*/
body {
    margin: 0;
}

header, footer {
    width: 100%;
}

/* THE HEADER */
header {
    height: 50px;
}
.site-title {
    background-color: blueviolet;
    margin: 0 auto;
    height: 80%;
    text-align: center;
}

.site-title h1 {
    display: inline;
}

header img {
    display: inline;
}

header nav {
    background-color: darkgray;
    padding: 5% auto;
    padding-right: 5px;
    text-align: right;
}

/* THE MAIN */
main {
    background-color: aqua;
    width: 80%;
    margin: 0 auto;
}

main h2 {
    margin: 8px;
    text-align: center;
}

/* THE FOOTER */
footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}